<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Create Question
    {% for item in data%}
    <div>{{item.question}}</div>
    {% endfor %}
    <form action="/addquestion/"name="qform"method="POST">
        {% csrf_token %}
        <input name = 'question' type='text'/><br/>
        <input name='option1' type='text'/><br/>
        <input name='option2' type='text'/><br/>
        <input name='option3' type='text'/><br/>
        <input name='option4' type='text'/><br/>
        <button type='submit'>submit</button>
    </form>
</body>
</html>